body {
    margin: 0;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/*SECTION========
 ===============*/
.section {
    padding: 80px 0;
}

.section-header {
    width: 100%;
    max-width: 306px;
    margin: 0 auto 50px;
    text-align: center;
}

.section-suptitle {
    font-size: 40px;
    font-weight: 400;
    color: #383838;
}

.section-suptitle::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    margin: 15px auto 30px;

    background-color: #F5BD41;
}

/*ICONS========
 ===============*/
.icon {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-inner {
    position: relative;
}

.icon-item {
    width: 25%;
    padding: 0 15px;
}

.icon-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 110px;
}

.icon-text {
    width: 100%;
    color: #383838;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

}



