@import url("./fonts.css");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}

/*HEADER========
 ===============*/
.header {
  width: 100%;
  padding-top: 51px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 205px;
  height: 40px;
}

/*Navigation========*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-link {
  margin: 0 24px;
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  transition: color .2s linear;
}

.nav-link:last-child {
  margin-right: 0;
}

.underline-item::after {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #F5BD41;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.underline-item:hover {
  color: #F5BD41;
  opacity: 1;
}

.underline-item:hover::after,
.underline-item.active::after {
  opacity: 1;
}

.underline-item.active {
  color: #F5BD41;
}

svg path:hover {
  fill: #F5BD41;
}

/*INTRO========
 ===============*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro/background.svg") center no-repeat;
  background-size: cover;
}

.intro-title {
  margin-top: 180px;
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: #FFFFFF;
}

/*SearchBox-group====
=====================*/
.searchBox-group-labels {
  display: flex;
  padding: 0 0 24px 20px;
  color: #FFFFFF;
}

.searchBox-label:first-child {
  padding-right: 221px;
}

.searchBox-group-inputs {
  width: 100%;
  max-width: 1223px;
  height: 64px;
  display: flex;
  align-items: normal;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.searchBox-input {
  display: inline-block;
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  border: 2px solid #FFFFFF;
}

.first-input {
  width: 40%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.second-input,
.third-input {
  width: 30%;
}

input::placeholder {
  color: #383838;
}

.searchBox-button {
  width: 192px;
  height: 64px;
  font-weight: 500;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #3077C6;
  color: #FFFFFF;
}

.searchBox-input:focus {
  outline: 0;
  border: 3px solid #F5BD41;
  border-radius: 8px;
}

/*Download-buttons========
 ===============*/
.download-buttons {
  max-width: 286px;
  max-height: 40px;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

.download-button {
  width: 135px;
  height: 40px;
  border: 1px solid #A6A6A6;
  border-radius: 8px;
  background-color: #000000;
  color: #FFFFFF;
}

.download-button:first-child {
  margin-right: 16px;
}

/*SECTION========
 ===============*/
.section {
  padding: 120px 0;
}

.section-header {
  width: 100%;
  max-width: 306px;
  margin: 0 auto 50px;
  font-weight: 500;
  text-align: center;
}

.section-subtitle {
  font-size: 40px;
  font-weight: 500;
  color: #383838;
}

.section-subtitle::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  margin: 20px auto 30px;
  background-color: #F5BD41;
}

/*ICONS========
 ===============*/
.icon {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-item {
  width: 25%;
  padding: 0 16px;
}

.icon-inner {
  position: relative;
}

.icon-image {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.icon-text {
  width: 100%;
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-top: 46px;
}

/*FOOTER
======================*/
.footer {
  background-color: #10367C;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 272px 50px 104px;
}

.footer_col {
  padding: 0 15px;
}

.footer-title {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer-col-list-item {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  padding-bottom: 24px;
}

.copyright {
  padding-left: 104px;
  padding-bottom: 120px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-small-logo {
  display: none;
}

/*===============
=====MEDIA========
 ===============*/
@media screen and (max-width: 770px) {
  /*SECTION*/
  .section {
    padding-top: 80px;
    padding-bottom: 0;
  }

  /*ICON*/
  .icon {
    margin: 32px 73px 40px 73px;
    flex-direction: column;
    justify-content: center;
  }

  .icon-item {
    width: 100%;
    padding: 0;
  }

  .icon-inner {
    margin-bottom: 32px;
  }

  /*FOOTER*/
  .footer-small-logo {
    display: block;
    text-align: center;
    padding: 40px 0;
  }

  .footer-inner {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .footer-title {
    margin-right: 16px;
    margin-bottom: 32px;
    text-decoration: underline;
  }

  .footer-col-list-item {
    display: none;
  }

  .copyright {
    text-align: center;
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  /*SECTION*/
  .section {
    padding: 0;
  }

  .section-header {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  .section-subtitle::after {
    display: none;
  }
}







